<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771634002732-egq7210qp7uj73vr20n4om6o4dbakb6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771634002732-egq7210qp7uj73vr20n4om6o4dbakb6g</string>
	<key>API_KEY</key>
	<string>AIzaSyAoL4sYyAGcty6r9JPyxYnNcC10RTtghAY</string>
	<key>GCM_SENDER_ID</key>
	<string>771634002732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cxagroup.mobile.EmployeePortal.staging.shared</string>
	<key>PROJECT_ID</key>
	<string>cxa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cxa-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771634002732:ios:599834234d7e9b79820a89</string>
	<key>DATABASE_URL</key>
	<string>https://cxa-app.firebaseio.com</string>
</dict>
</plist>